{% extends 'base.html' %}
{% block content %}
    <div class="bg-white py-4">
        <h1 class="text-center text-secondary">سلة المشتريات</h1>
    </div>
  <div class="container my-5">
    <div class="card my-2">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 text-center mb-2">
            <img
              src="https://via.placeholder.com/150"
              alt=""
              title=""
              width="150"
              class="img-thumbnail"
            />
          </div>
          <div class="col my-auto text-center">
            أساسيات إطار العمل Vue.js
          </div>
          <div class="col-md-2 col-xs-6 my-auto text-center">
            <strong>20,0 $</strong>
          </div>
          <div class="col-md-2 my-auto text-center">
            <button class="btn btn-secondary my-2" type="button">
              <i class="lni lni-trash-can text-white"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-2">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 text-center mb-2">
            <img
              src="https://via.placeholder.com/150"
              alt=""
              title=""
              width="150"
              class="img-thumbnail"
            />
          </div>
          <div class="col my-auto text-center">
            أساسيات إطار العمل Vue.js
          </div>
          <div class="col-md-2 col-xs-6 my-auto text-center">
            <strong>20,0 $</strong>
          </div>
          <div class="col-md-2 my-auto text-center">
            <button class="btn btn-secondary my-2" type="button">
              <i class="lni lni-trash-can text-white"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-2">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 text-center mb-2">
            <img
              src="https://via.placeholder.com/150"
              alt=""
              title=""
              width="150"
              class="img-thumbnail"
            />
          </div>
          <div class="col my-auto text-center">
            أساسيات إطار العمل Vue.js
          </div>
          <div class="col-md-2 col-xs-6 my-auto text-center">
            <strong>20,0 $</strong>
          </div>
          <div class="col-md-2 my-auto text-center">
            <button class="btn btn-secondary my-2" type="button">
              <i class="lni lni-trash-can text-white"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row bd-highlight">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>السعر</td>
                  <td>55,0 $</td>
                </tr>
                <tr>
                  <td>المجموع</td>
                  <td>55,0 $</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2">
              <a href="checkout.html" class="btn btn-primary">
                متابعة إلى صفحة الدفع
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}